*{
  box-sizing: border-box;
}

html{
  overscroll-behavior: none;
}

body{
  margin: 0;
  padding: 10px;
  max-width: auto;
  min-height: 100vh;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin-bottom: 0;
  color: #48002d;
  text-align: center;
  @media(width<700px){
    font-size: 1.6rem;
  }
}

p{
  margin-top: 10px;
  margin-bottom: 20px;
  color: #48002d;
  text-align: center;
  @media(width<700px){
    font-size: 0.9rem;
  }
}

.main-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background: transparent;
  border: none;
  @media(width<700px){
    gap: 20px;
    flex-direction: column;
  }
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.4rem;
  color: white;
  background-color: #48002d; 
  padding: 4px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  margin-block: 20px;
}

button:hover {
  background-color: #ffa6d7; 
}

.random-btn {
  position: relative;
  padding: 12px 35px;
  background: #5e003a;
  font-size: 17px;
  font-weight: 550;
  color: #ffa6d7;
  border: 3px solid #5e003a;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 25px;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

.random-btn:hover {
  background: #5e003a;
  box-shadow: 0 0 25px #fec1958c;
}

.random-btn:hover .star-1 {
  position: absolute;
  top: -65%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.random-btn:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.random-btn:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.random-btn:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.random-btn:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.random-btn:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
